/**Общие стили**/
*{
	-webkit-transition: .6s ease-in-out;
	-o-transition: .6s ease-in-out;
	transition: .6s ease-in-out;
}

.h1, .h2, .h3, .h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #000;
}

.h1{
	font-size: 38px;
}

.h2{
	font-size: 28px
}

.h3{
	font-size: 24px;
}

.h4{
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 17px;
	color: #787878;
}

.common-text{
	margin: 25px 0;
}

.margin{
	margin: 80px 0;
}

button{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	background: #10c9c3;
	padding: 15px 40px;
	border: 0px;
}

button:hover, button:focus, button:active{
	background: #000;
}

/*Банер, навигационное меню*/
.navbar-default {
    background-color: #000 !important;
    border-color: #000;
    padding: 2px 0;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.nav>li>a{
	border-bottom: 1px solid #000;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active {
    background-color: transparent;
    color: #10c9c3;
    border-bottom: 1px solid #10c9c3;
}

.baner{
	background: url(../img/pic.jpg) no-repeat;
	height: 650px;
}

.form-1{
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 13%;
}

.form-1 h3{
	padding-bottom: 15px;
	text-align: center;
}

.form-1 h3 span{
	color: #10c9c3;
	font-weight: 600;
}

.form-1 input,
.form-1 textarea{
	width: 100%;
	padding: 20px 0;
	border: none;
	border-bottom: 1px solid #f5f5f5;
	padding-left: 40px;
}

.form-1 textarea{
	padding-bottom: 22px;
}

.form-1 button{
	width: 100%;
	background: #10c9c3;
	border: transparent;
	padding: 23px 0;
	color: #fff;
}

.form-1 button:hover{
	background: #000;
}

/*От директора компании*/
.progress-block{
	background: url(../img/baner2.jpg) no-repeat;
}
 
.progress-block .h4{
	margin-top: 25px;
}

.progress {
    height: 3px;
    background-color: #d8d8d8;
}

.progress-bar {
	background-color: #10c9c3;
}

/*О нас в цифрах*/
.numbers{
	background: #10c9c3;
}

.numbers i{
	color: #fff;
	font-size: 37px;
	margin-top: 15px;
}

.numbers p{
	color: #fff;
	font-size: 12px;
}

.numbers p, .services .first{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.numbers .first, .services .first{
	font-size: 15px;
	font-weight: bold;
}

/*Портфолио*/
.work-item{
	padding: 0px;
}

.work-item-img{
	position: relative;
	overflow: hidden;
}

.work-item-preview{
	display: block;
	max-width: 100%;
	height: auto;
}

.work-item-img:before{
	content: "";
}

.work-item .work-item-img:before{
	width: 0;
	height: 0;
	padding: 25%;
	background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: -webkit-transform calc(var(--photoboxAnimationDuration, .8s)) ease;
	transition: -webkit-transform calc(var(--photoboxAnimationDuration, .8s)) ease;
	-o-transition: transform calc(var(--photoboxAnimationDuration, .8s)) ease;
	transition: transform calc(var(--photoboxAnimationDuration, .8s)) ease;
	transition: transform calc(var(--photoboxAnimationDuration, .8s)) ease, -webkit-transform calc(var(--photoboxAnimationDuration, .8s)) ease;
	-webkit-transform: translate(-50%, -50%) scale(0);
	    -ms-transform: translate(-50%, -50%) scale(0);
	        transform: translate(-50%, -50%) scale(0);
}

.work-item:hover .work-item-img:before{
	-webkit-transform: translate(-50%, -50%) scale(4);
	    -ms-transform: translate(-50%, -50%) scale(4);
	        transform: translate(-50%, -50%) scale(4);
}

.work-item .work-item-text{
	width: 95%;
	text-align: center;
	-webkit-transform: translate(-200%, -50%);
	    -ms-transform: translate(-200%, -50%);
	        transform: translate(-200%, -50%);
	-webkit-transition: -webkit-transform calc(var(--photoboxAnimationDuration, .8s)) ease-out;
	transition: -webkit-transform calc(var(--photoboxAnimationDuration, .8s)) ease-out;
	-o-transition: transform calc(var(--photoboxAnimationDuration, .8s)) ease-out;
	transition: transform calc(var(--photoboxAnimationDuration, .8s)) ease-out;
	transition: transform calc(var(--photoboxAnimationDuration, .8s)) ease-out, -webkit-transform calc(var(--photoboxAnimationDuration, .8s)) ease-out;
	position: absolute;
	top: 50%;
	left: 50%;
}

.work-item-text{
	color: #fff;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.work-item:hover .work-item-text{
	-webkit-transition-duration: calc(var(--photoboxAnimationDuration, .8s));
	     -o-transition-duration: calc(var(--photoboxAnimationDuration, .8s));
	        transition-duration: calc(var(--photoboxAnimationDuration, .8s));
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

/*Цены*/
.pricing{
	background: #f5f5f5;
	padding: 80px 0;
}

.pricing .p-common-text{
	padding-bottom: 10px;
}

.lower{
	margin-top: 45px;
}

.pricing-row-top{
	background: #333333;
	color: #fff;
}

.pricing-row-top h3{
	color: #fff;
	padding: 20px 0;
	border-bottom: 1px solid #f5f5f5;
}

.pricing-row-top .price{
	font-size: 70px;
	font-weight: 600;
	padding: 5px 0;
}

.pricing-row-top .price i{
	font-size: 30px;
}

.pricing-row-top .italic{
	font-style: italic;
	color: #f5f5f5;
	padding-bottom: 5px;
}
.price {
	color: #10c9c3;
}

.divider{
	height: 5px;
	background: #10c9c3;
	margin-top: -10px;
}

.divider-2{
	background: #10c9c3;
	padding: 15px 0 5px 0;
	margin-top: -10px;
	text-transform: uppercase;
}

.divider-2 p{
	color: #fff;
}

.pricing-row-bottom{
	background: #fff;
	color: #10c9c3;
}

.pricing-row-bottom .features{
	display: block;
	padding: 10px 0;
	text-transform: uppercase;
	border-bottom: 1px solid #f5f5f5;
}

.pricing-row-bottom .features:last-child{
	border-bottom: none;
}

.services-item{
	padding: 0 15px;
}

/*Услуги*/
.services-item i{
	margin-bottom: 15px;
	color: #000;
	font-size: 37px;
}

.services .first{
	color: #353535;
}

.services p{
	font-size: 15px;
}

.row2 .margin{
	margin-top: 0px;
}

/*Слайдер с цитатами*/
.testimonials{
	background: #10c9c3;
}

.testimonials p{
	color: #fff;
	line-height: 40px;
	font-weight: normal;
}

.slick-dots li button:before {
    font-size: 30px !important;
   	color: #fff !important;
}

/*Форма обратной связи*/
.contact{
	background: #f5f5f5;
}

.contact input, .contact textarea{
	width: 100%;
	padding: 10px 0px 10px 15px;
	margin: 10px 0;
}

.contact .margin-top {
	margin-top: 80px;
}

.contact .margin-bt {
	margin-bottom: 80px;
}

/*Подвал*/
footer{
	background: #000;
	padding: 50px 0;
}

footer .h4{
	color: #fff;
}

footer p{
	font-size: 14px;
}

footer ul li{
	list-style: none;
}

footer ul li a, footer li a:hover, footer li a:focus, footer li a:active{
	color: #787878;
}

@media (min-width: 1901px) and (max-width: 2700px){
	.progress-block{
	background: url(../img/baner2-2.jpg) no-repeat;
	}
}

@media (min-width: 1367px) and (max-width: 1900px){
	.progress-block{
	background: url(../img/baner2-1.jpg) no-repeat;
	}
}

@media (max-width: 991px){
	.numbers, .services{
		padding: 60px 0;
	}

	.numbers .margin, .services .margin{
		margin: 20px 0;
	}

	.comp .margin{
		margin: 0px;
	}

	.comp{
		padding: 80px 0;
	}

	footer ul{
		text-align: center;
	}

	footer ul li{
		display: inline;
	}
}

@media (max-width: 767px){
	.nav>li {
  	  text-align: center;
	}

	footer .company, footer .tel{
		text-align: center;
	}

	footer ul{
		padding-left: 0px;
	}

	footer ul li{
		display: inline;
	}
}
